{% extends 'base.html' %}

{% block content %}

<h2 style="text-align: center; font-weight: 600;">Bookmarked Projects</h2>
<div class="container">
    {% for project in bookmarked_projects %}
    <div class="card">
        <!-- <button class="bookmark-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
            </svg>
        </button> -->
        <!-- <button class="bookmark-btn" data-project-id="{{ project.id }}">
            {% if user.is_authenticated and project in user.userprofile.bookmarked_projects.all %}
                Unbookmark
            {% else %}
                Bookmark
            {% endif %}
        </button> -->
        <a href="{% url 'bookmark_project' project_id=project.id %}" >
            {% if user.is_authenticated and project in user.userprofile.bookmarked_projects.all %}
            <button class="bookmark-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
            </svg>
            </button>
            {% else %}
            <button class="bookmark-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                </svg>
                </button>

            {% endif %}
        </a>
        <h2>{{ project.title }}</h2>
        <h4>{{ project.supervisor }}</h4>
        <div class="tags">
            <a href="#" class="tag">{{ project.tags }}</a>
            <!-- <h5 class="card-title">{{ project.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Supervisor: {{ project.supervisor }}</h6> -->
        </div>
        <p class="card-text"><strong>Country:</strong> {{ project.country }}</p>
        <p class="card-text"><strong>Open to:</strong> {{ project.open_to }}</p>
        <p class="card-text"><strong>Duration:</strong> {{ project.duration }}</p>
        <p class="card-text"><strong>Sponsor:</strong> {{ project.sponsor }}</p>
        <p class="card-text"><strong>Deadline:</strong> {{ project.deadline }}</p>
        <p class="card-text"><strong>Budget:</strong> {{ project.budget }}</p>
        <div class="buttons">
            <a href="{% url 'projectdetail' project_id=project.id %}" class="btn">Apply Now</a>

        </div>
    </div>
    {% endfor %}

    <div class="modal" id="filterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter Options</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Title</span>
                    {% for project in projects %}
                    <!-- Add filter options -->
                    <label><input type="checkbox" class="filter-checkbox" data-filter="{{project.title}}"> {{project.title}}</label>
                    {% endfor %}
                </div>
                <div class="modal-body">
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Supervisor</span>
                    {% for project in projects %}
                    <!-- Add filter options -->
                    <label><input type="checkbox" class="filter-checkbox" data-filter="{{project.supervisor}}"> {{project.supervisor}}</label>
                    {% endfor %}
                </div>
                <div class="modal-body">
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Tags</span>
                    {% for project in projects %}
                    <!-- Add filter options -->
                    <label><input type="checkbox" class="filter-checkbox" data-filter="{{project.tags}}"> {{project.tags}}</label>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="applyFiltersBtn">Apply Filters</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="filterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter Options</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Filter by Title
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Title:</span>
                    <br>
                    {% for project in projects %}
                    <label><input type="checkbox" class="filter-checkbox" data-filter="{{ project.title }}"> {{ project.title }}</label>
                    {% endfor %}
                    <br> -->
                    <!-- Filter by Supervisor
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Supervisor:</span>
                    <br>
                    {% for project in projects %}
                    <label><input type="checkbox" class="filter-checkbox" data-filter="{{ project.supervisor }}"> {{ project.supervisor }}</label>
                    {% endfor %}
                    <br> -->
                    <!-- Filter by Sector -->
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Sector:</span>
                    <br>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="agriculture"> Agriculture</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="resource"> Natural Resource</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="rural"> Rural Development</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="audit"> Audits</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="education"> Education</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="energy"> Energy</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="engineering"> Engineering</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="finance"> Finance</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="health"> Health</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="industry"> Industry</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="trade"> Trade</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="information"> Information</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="marketing"> Marketing</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="multisector"> Multi Sector</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="public"> Public Sector Management</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="operation"> Operations</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="supply"> Supply Chain</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="social"> Social</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="environment"> Environment and Financial Impact Assesment</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="sustainability"> Sustainability Engineering</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="transport"> Transport</label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="water"> Water and Infrastructure Services</label>
                    <br>
                    <!-- Filter by Tags -->
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Tags:</span>
                    <br>
                    {% for project in projects %}
                    <label><input type="checkbox" class="filter-checkbox" data-filter="{{ project.tags }}"> {{ project.tags }}</label>
                    {% endfor %}
                    <br>
                    <!-- Filter by Country -->
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Country:</span>
                    <br>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="india"> India </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="srilanka"> Sri Lanka </label>
                    <br>
                    <!-- Filter by Department -->
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Department:</span>
                    <br>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="aerospace"> Aerospace Engineering </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="biological"> Biological Science and Bio Engineering </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="chemical"> Chemical Engineering </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="civil"> Civil Engineering </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="Computer"> Computer Science and Engineering </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="earth"> Earth Science </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="economics"> Economics </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="electrical"> Electrical Engineering </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="math"> Mathematics </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="mechanical"> Mechanical Engineering </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="physics"> Physics </label>
                    <br>
                    <!-- Filter by Open To -->
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Open To:</span>
                    <br>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="everyone"> Everyone </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="b.tech"> B.Tech </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="b.s"> B.S. </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="m.tech"> M.Tech </label>
                    <label><input type="checkbox" class="filter-checkbox" data-filter="m.s"> M.S. </label>
                    <br>
                    <!-- Filter by Duration -->
                    <span style="margin-right: 10px; font-weight: 600; font-size: 20px;">Duration:</span>
                    <br>
                    {% for project in projects %}
                    <label><input type="checkbox" class="filter-checkbox" data-filter="{{ project.duration }}"> {{ project.duration }}</label>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="applyFiltersBtn">Apply Filters</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    document.getElementById("filter").addEventListener("click", function () {
        $('#filterModal').modal('show');
    });

    document.getElementById("applyFiltersBtn").addEventListener("click", function () {
        const selectedFilters = [];

        // Gathering selected tag filters (assuming the tags are space-separated)
        document.querySelectorAll('.filter-checkbox:checked').forEach(function (checkbox) {
            selectedFilters.push(checkbox.getAttribute('data-filter'));
        });

        applyFilters(selectedFilters);
    });

    function applyFilters(selectedFilters) {
        const cards = document.querySelectorAll('.card');

        cards.forEach(card => {
            // Extract the project attributes from the card
            const title = card.querySelector('h2').textContent;
            const supervisor = card.querySelector('h4').textContent;
            const tags = Array.from(card.querySelectorAll('.tag')).map(tag => tag.textContent);
            const country = card.querySelector('.card-text:nth-of-type(1)').textContent.toLowerCase();
            const openTo = card.querySelector('.card-text:nth-of-type(2)').textContent.toLowerCase();
            const duration = card.querySelector('.card-text:nth-of-type(3)').textContent;
            const sponsor = card.querySelector('.card-text:nth-of-type(4)').textContent.toLowerCase();
            const deadline = card.querySelector('.card-text:nth-of-type(5)').textContent.toLowerCase();
            const budget = card.querySelector('.card-text:nth-of-type(6)').textContent.toLowerCase();

            // Perform filtering based on project attributes
            const shouldShowCard = selectedFilters.some(filter =>
                title.includes(filter) ||
                supervisor.includes(filter) ||
                tags.some(tag => tag.includes(filter)) ||
                country.includes(filter) ||
                openTo.includes(filter) ||
                duration.includes(filter) ||
                sponsor.includes(filter) ||
                deadline.includes(filter) ||
                budget.includes(filter)
            );

            // Adjust card visibility based on filter result
            card.style.display = shouldShowCard ? 'block' : 'none';
        });
    }
</script>

<!--<script>-->
<!--    document.querySelectorAll('.bookmark-btn').forEach(btn => {-->
<!--        btn.addEventListener('click', function () {-->
            <!--// Toggle fill of the bookmark icon-->
<!--            const svg = this.querySelector('svg');-->
<!--            svg.setAttribute('fill', svg.getAttribute('fill') === 'none' ? 'currentColor' : 'none');-->
<!--            // Here you would also add logic to actually bookmark the project-->
<!--        });-->
<!--    });-->
<!--</script>-->

{% endblock %}
