{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center; font-weight: 600;">My Applications</h2>

{% if application_data %}


<!-- {% comment %} <h3>{{ application.project.title }}</h3> {% endcomment %}
        {% comment %} <p>Applied on: {{ application.applied_on }}</p>
        <p>Remarks: {{ application.remarks }}</p> {% endcomment %} -->
<div class="container">
{% for app in application_data %}
<div class="card">
    <!-- <h2>{{app.title}}</h2>
    <h4>{{app.superviser}}</h4> -->
    <h2>{{ app.title }}</h2>
    <h4>{{ app.superviser }}</h4>
    <!-- <div class="tag">
        <h5 class="card-title">{{ app.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Supervisor: {{ app.superviser }}</h6>
    </div> -->
    <p class="card-text"><strong>Applied on:</strong> {{ app.applied_on }}</p>
    <p class="card-text"><strong>Remarks:</strong> {{ app.remarks }}</p>
    <p class="card-text"><strong>Country:</strong> {{ app.country }}</p>
    <p class="card-text"><strong>Open to:</strong> {{ app.open_to }}</p>
    <p class="card-text"><strong>Duration:</strong> {{ app.duration }}</p>
    <p class="card-text"><strong>Funding Agency:</strong> {{ app.sponsor }}</p>
    <p class="card-text"><strong>Deadline:</strong> {{ app.deadline }}</p>
    <p class="card-text"><strong>Budget:</strong> {{ app.budget }}</p>
    <div style="text-align: center;" class="button">
        <a href="{% url 'projectdetail' project_id=app.id %}" class="btn">Details</a>

    </div>
</div>

<style>
    .btn{
            background: #90E0EF;
            color: #094A84;
    }
    .btn:first-child:hover {
            background-color: #5fcbdf;
    }
</style>
{% endfor %}
</div>
{% else %}
<h4 style="text-align: center; font-weight: 600;">Not Applied to any Project yet!</h4>
{% endif %}



{% endblock %}
